.bio {
    display: flex;
    border: 8px solid #6a4c93;
    box-shadow: #5b2d9c;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #383737;
    background-color:thistle;
    width: 450px;
    height: 450px;
}