.resume {
    /* display: block; */
    justify-content: center;
    align-self: center;
    margin-top: 30px;
    padding: 20px 30px;
    background-color: #ffca3a;
    border: 2px solid #ffca3a;
    box-shadow: 5px 10px #d4a31b;
    border-radius: 10px;
}

.myWhy {
    display: flex-inline;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    border: 2px solid #8ac926;
    border-radius: 30px;
    box-shadow: 5px 10px #446312;
    background-color: #8ac926;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: #203008;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    align-content: center;
    width: 650px;
    height: 90%;
}

.contact {
    display: flex-inline;
    justify-content: left;
    margin: 10px;
    padding: 10px;
    /* border: 2px solid #77bfa3;
    border-radius: 30px;
    box-shadow: 5px 10px #213b31;
    background-color: #77bfa3;
    font-size: large; */
    font-family: 'Times New Roman', Times, serif;
    color: #213b31;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    align-content: center;
    width: fit-content;
    height: fit-content;
}

@media (max-width: 360px){
    .myWhy {
        margin: 3px;
        margin-top: 20px;
        width: fit-content;
        height: fit-content;
    }
    .Document {
        display: flex-inline;
        flex-direction: column;
        align-items: center;
    }
    .resume {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px !important;
        height: auto !important;
    }
    .contact {
        margin: 3px;
        margin-top: 30px;
        width: fit-content;
        height: fit-content;
    }
    
}