.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    height: 75px;
}