.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    background-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    height: 500px;
    width: 200px;
}