.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #77bfa3;
    margin: 3%;
    padding: 12px;
    height: 30px;
    border-radius: 50px;
    box-shadow: 5px 10px;
    color: #213b31;
}

.navlinks {
    text-decoration: none;
    font-size: 24px;
}

/* #77bfa3 */